@import 'fontFaces';

// Fonts
$primary-font: 'sourceSansProRegular', sans-serif;
$title-font: 'sourceSansProsemiBold', sans-serif;

// Colors
$primary-color: #68717c;
$warning-color: #fa5e5b;
$success-color: #16c98d;
$black: #1b2834;
