@import 'fontFaces';

// Fonts
$primary-font: 'sourceSansProRegular', sans-serif;
$title-font: 'sourceSansProsemiBold', sans-serif;

// Colors
$primary-color: #68717c;
$warning-color: #fa5e5b;
$success-color: #16c98d;
$black: #1b2834;
$control-background: rgba(27, 40, 52, 0.01);
$bluish: #2d74da;

// Values
$control-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
$control-border: solid 1px #d4d8db;
$control-border-radius: 3px;
$default-transition: all 0.25s ease-out;

// Gradients
$action-from: linear-gradient(to bottom, $bluish, #2367c8 95%);
$action-to: linear-gradient(to top, $bluish, #276ccf, #2367c8);
